panel-pod,
.panel-pod {
  display: block;
  border-radius: 4px;
  border: 1px solid rgba(79, 79, 79, 0.552);
  max-width: var(--panel-breakpoint);
  margin: 0 auto;
  overflow: hidden;
}

panel-pod-heading,
.panel-pod-heading {
  padding: 0.4rem 0.5rem;
  border-bottom: 1px solid gray;
  overflow: hidden;
  background: rgb(29, 30, 30);
  background: linear-gradient(
    to top,
    rgba(46, 46, 46, 1) 0%,
    rgba(75, 75, 75, 1) 100%
  );
  background-size: cover;
}

panel-pod-title,
.panel-pod-title {
  color: white;
  margin: 0;
  font-size: 1.3em;
}

panel-pod-title img,
.panel-pod-title img {
  height: 28px;
}

panel-pod-content {
  display: block;
  padding: 0.5rem;
}
