/* 
    SurfKit Alpha - CSS 
    Open Source UI Framework
    by: SurfScape Team
    version: 0.0.1-alpha
    license: GPL-2.0

    NOTE: For help and guidence, check the README.md!
*/

/* variables */
@import url(./vars/size.css);
@import url(./vars/color.css);
@import url(./vars/type.css);
@import url(./vars/transition.css);

/* content */
@import url(./content/reboot.css);
@import url(./content/type.css);

/* layout */
@import url(./layout/utils.css);

/* components */
@import url(./components/components.css); /* imports the entire components folder for a full surfkit setup however you can import single components trough here as well for a specific use case*/
