.row {
  --_grid-row-spacer: var(--grid-row-spacer, 1em);
  display: grid;
  gap: var(--_grid-row-spacer);
}

.column {
  --_grid-column-spacer: var(--grid-column-spacer, 1em);
  display: flex;
  flex-wrap: wrap;
  gap: var(--grid-column-spacer);
}
