.content-frame {
  margin: 0 auto;
<<<<<<< HEAD
  padding: var(--content-frame-padding);
  background: var(--content-frame-background);
  max-width: var(--max-content-breakpoint);
  min-height: 100vh;
  overflow: hidden;
}

.content-frame :first-child {
  margin-top: 0;
}

.content-frame :last-child {
  margin-bottom: 0;
}
=======
  background: white;
  padding: 0.5rem;
  max-width: var(--max-content-breakpoint);
  min-height: max-content;
  overflow: hidden;
}
>>>>>>> 1c667ea487da4c9ff2488694a6fd5153db79c036
