.appbar {
  background: var(--clr--background);
  padding: var(--spacing-06);
  border-bottom: var(--spacing-01) solid var(--clr--border-01);
  color: var(--clr--heading);
}

.appbar--title {
  font-size: 1.15em;
  font-weight: 600;
}

.appbar--subtitle {
  font-size: 1.05em;
  color: var(--clr--subtitle);
}

.appbar--subtitle::before {
  content: "-";
  font-size: 1.25em;
  margin: 0 var(--spacing-05);
}

.appbar--sticky {
  position: sticky;
  inset: 0;
}
