/* 
    SurfKit - Release Candidate
    Open Source UI Framework
    by: SurfScape Team
    version: 0.0.1-rc03
    license: 

    NOTE: For help and guidence, check the README.md and the examples folder on how to use SurfKit
*/

/* utils */
@import url(./src/utils/size.css);
@import url(./src/utils/transition.css);

/* theme loader */
@import url(./src/themes/default.css);

/* content modules */
@import url(./src/content/reset.css);
@import url(./src/content/basic.css);

/* layout modules */
@import url(./src/layout/container.css);
@import url(./src/layout/columns.css);

/* components */
@import url(./src/components/button/button.css);
@import url(./src/components/alert/alert.css);
@import url(./src/components/appbar/appbar.css);
@import url(./src/components/label/label.css);
@import url(./src/components/hero/hero.css);

/* helpers */
@import url(./src/helpers/text.css);
