.content > * + * {
  --_sk-content-spacer: var(--sk-content-spacer, var(--content-default-spacer));
  margin-top: var(--_sk-content-spacer);
}

.content--sm {
  --sk-content-spacer: 0.75em;
}

.content--xsm {
  --sk-content-spacer: 0.5em;
}
