.button {
  user-select: none;
  background: var(--clr--subtle--01);
  padding: var(--spacing-05) var(--spacing-10);
  border: var(--button--border) solid var(--clr--border-01);
  border-radius: var(--button--border--radius);
  transition: var(--transition--button--action);
}

.button:active {
  box-shadow: none;
  scale: 0.975;
}

.button:hover {
  border-color: var(--clr--border-04);
}

.button--primary {
  background: var(--clr--primary);
  border-color: var(--clr--primary);
  color: var(--clr--on--primary);
}

.button--primary:hover {
  background: var(--clr--primary--hover);
  border-color: var(--clr--primary--hover);
}

.button--success {
  background: var(--clr--success);
  border-color: var(--clr--success);
  color: var(--clr--on--success);
}

.button--success:hover {
  background: var(--clr--success--hover);
  border-color: var(--clr--success--hover);
}

.button--error {
  background: var(--clr--error);
  border-color: var(--clr--error);
  color: var(--clr--on--error);
}

.button--error:hover {
  background: var(--clr--error--hover);
  border-color: var(--clr--error--hover);
}
