/* hero variants */
@import url(hero--card.css);

.hero {
  background: linear-gradient(
    to left,
    rgba(246, 213, 247, 1) 0%,
    rgba(251, 233, 215, 1) 100%
  );
  padding: var(--spacing-10);
}

.hero--title {
  margin: 0;
  font-size: 2em;
}

.hero--subtitle {
  font-size: 1.25em;
  color: var(--clr--subtitle);
}
