.label {
  user-select: none;
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  font-size: 0.9em;
  background: var(--clr--subtle--01);
  padding: var(--spacing-02) var(--spacing-05);
  border: var(--label--border) solid var(--clr--border-01);
  border-radius: var(--label--border--radius);
}

.label--primary {
  background: var(--clr--primary--subtle);
  border-color: var(--clr--primary);
  color: var(--clr--primary--dark);
}

.label--success {
  background: var(--clr--success--subtle);
  border-color: var(--clr--success);
  color: var(--clr--success--dark);
}

.label--error {
  background: var(--clr--error--subtle);
  border-color: var(--clr--error);
  color: var(--clr--error--dark);
}

.label--warning {
  background: var(--clr--warning--subtle);
  border-color: var(--clr--warning);
  color: var(--clr--warning--dark);
}
