button,
.sk-button {
  display: inline-block;
  --_btn-sk-bg: var(
    --btn-sk-bg,
    linear-gradient(to bottom, hsl(217, 5%, 30%), hsl(217, 5%, 20%))
  );
  padding: var(--button-padding);
  border-radius: var(--radius-sm);
  background: var(--_btn-sk-bg);
  border: 1px solid hsla(0, 0%, 6%, 0.75);
  box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.25),
    inset 0px 1px rgba(255, 255, 255, 0.4),
    inset -1px 0 rgba(255, 255, 255, 0.1), inset 0px -1px hsla(0, 0%, 100%, 0.1),
    inset 1px 0 hsla(0, 0%, 100%, 0.1);
  color: var(--clr-container-text);
  text-shadow: var(--sh-smooth-text);
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

button:hover:not(:active),
.sk-button:hover:not(:active) {
  --_btn-sk-bg-hover: var(
    --btn-sk-bg-hover,
    linear-gradient(to bottom, hsl(217, 5%, 35%), hsl(217, 5%, 25%))
  );
  color: var(--clr-container-text);
  background: var(--_btn-sk-bg-hover);
}

button:active,
.sk-button:active {
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5),
    inset 0px 1px rgba(255, 255, 255, 0.4),
    inset -1px 0 rgba(255, 255, 255, 0.1), inset 0px -1px hsla(0, 0%, 100%, 0.1),
    inset 1px 0 hsla(0, 0%, 100%, 0.1);
}

.sk-button-ocean {
  --btn-sk-bg: linear-gradient(
    to bottom,
    hsl(216, 60%, 58%),
    hsl(216, 80%, 30%)
  );
  --btn-sk-bg-hover: linear-gradient(
    to bottom,
    hsl(216, 60%, 63%),
    hsl(216, 80%, 34%)
  );
}

.sk-button-sunset {
  --btn-sk-bg: linear-gradient(to bottom, hsl(18, 80%, 60%), hsl(18, 80%, 38%));
  --btn-sk-bg-hover: linear-gradient(
    to bottom,
    hsl(18, 80%, 65%),
    hsl(18, 80%, 44%)
  );
}

.sk-button-fire {
  --btn-sk-bg: linear-gradient(to bottom, hsl(0, 80%, 56%), hsl(0, 64%, 39%));
  --btn-sk-bg-hover: linear-gradient(
    to bottom,
    hsl(0, 80%, 62%),
    hsl(0, 85%, 44%)
  );
}
