.alert {
  display: block;
  color: var(--clr--alert--text);
  background: var(--clr--transparent-01);
  border-radius: var(--alert--border--radius);
  border-width: var(--alert--border);
  border-style: solid;
  border-color: var(--clr--border-01);
  margin: var(--spacing-10) 0;
  padding: var(--spacing-08);
}

.alert--primary {
  color: var(--clr--primary--dark);
  background: var(--clr--primary--subtle);
  border-color: var(--clr--primary);
}

.alert--success {
  color: var(--clr--success--dark);
  background: var(--clr--success--subtle);
  border-color: var(--clr--success);
}

.alert--error {
  color: var(--clr--error--dark);
  background: var(--clr--error--subtle);
  border-color: var(--clr--error);
}

.alert--warning {
  color: var(--clr--warning--dark);
  background: var(--clr--warning--subtle);
  border-color: var(--clr--warning);
}
