:root {
  /* font */
  --base-font-size: 15px;
  /* breakpoints */
  --max-content-breakpoint: 68rem;
  --modal-breakpoint: 42.5rem;
  --panel-breakpoint: 50rem;
  /* padding */
  --brand-header-padding: 0.75rem 1.5rem;
  --brand-header-menu-padding: 0 0.5rem;
  --modal-padding: 0.5rem 0.5rem 0.75rem 0.5rem;
  --site-frame-padding: 0 0.5rem;
  --content-frame-padding: 1rem;
  /* gaps */
  --brand-header-gap: 0.5rem;
  --brand-header-menu-gap: 0.25rem;
  /* z-index*/
  --brand-header-z: 10;
}
