:root {
  --ft-size: clamp(0.975rem, 0.975rem + 0.390625vw, 1rem);
  --ft-line-height: 1.45em;
  --ft-line-height-base: 1em;
  /* button sizes */
  --btn-size-inline: 1em;
  --btn-size-block: 0.75em;
  --btn-radius: 0.3em;
  --btn-spacer: 0.75em;
}
