:root {
  --ft-size: clamp(0.975rem, 0.975rem + 0.390625vw, 1rem);
  --ft-line-height: 1.45;
  --ft-line-height-base: 1em;
  /* layouts */
  --content-default-spacer: 1em;
  /* button sizes */
  --btn-padding: 0.3em 0.8em;
  --btn-radius: 0.5em;
  --btn-spacer: 0.75em;
  /* infobox sizes */
  --infobox-ft-size: 0.95rem;
  --infobox-padding: 0.6em 1em;
  --infobox-radius: 0.8em;
  --infobox-spacer: 0.75em;

  --btn-container-spacer: 0.5em;

  --bp-default: 960px;
  --bp-medium: 860px;
  --bp-small: 720px;
}
