:root {
  --base-font-family: var(--font-sans);
  --font-sans: "Public Sans", sans-serig, var(--font-emoji);
  --font-mono: "Menlo", "Monaco", "Consolas", "Liberation Mono", "Courier New",
    monospace;
  --font-serif: "Constantia", "Palatino Linotype", "DejaVu Serif",
    "Liberation Serif", "Georgia", "Times New Roman", serif;
  --font-emoji: "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji", "Android Emoji", "EmojiOne Color", "Twemoji";
}
