::selection {
  color: var(--clr--on--primary);
  background: var(--clr--primary);
}

body {
  font-size: var(--spacing-10);
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    "Noto Sans", "Liberation Sans", "Ubuntu", Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  line-height: 1.5;
  color: var(--clr--text);
  background-color: var(--clr--background);
}

a {
  color: var(--clr--primary);
}

a:hover {
  text-decoration: none;
  color: var(--clr--primary--hover);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--clr--heading);
}

p {
  color: var(--clr--text);
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 3.5em;
}

h3 {
  font-size: 3em;
}

h4 {
  font-size: 2.5em;
}

h5 {
  font-size: 2em;
}

h6 {
  font-size: 1.5em;
}
