*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: var(--spacing-05) 0;
  line-height: 1.3;
}

p {
  margin: var(--spacing-10) 0;
}

button {
  font: inherit;
  border: none;
  background: none;
  cursor: pointer;
}

[role="button"] {
  cursor: pointer;
}
