sk-infobox,
.sk-infobox {
  --_sk-infobox-bg: var(--sk-infobox-bg, var(--sk-color-accent-container));
  --_sk-infobox-color: var(
    --sk-infobox-color,
    var(--sk-color-accent-on-container)
  );
  --_sk-infobox-stroke: var(
    --sk-infobox-stroke,
    var(--sk-color-accent-container-outline)
  );
  font-size: var(--infobox-ft-size);
  padding: var(--infobox-padding);
  background: var(--_sk-infobox-bg);
  color: var(--_sk-infobox-color);
  border-radius: var(--infobox-radius);
  border: 1px solid var(--_sk-infobox-stroke);
}

.sk-infobox--info {
  --sk-infobox-bg: var(--sk-color-primary-container);
  --sk-infobox-color: var(--sk-color-on-primary-container);
  --sk-infobox-stroke: var(--sk-color-primary);
}

.sk-infobox--error {
  --sk-infobox-bg: var(--sk-color-error-container);
  --sk-infobox-color: var(--sk-color-on-error-container);
  --sk-infobox-stroke: var(--sk-color-error);
}

.sk-infobox--warning {
  --sk-infobox-bg: var(--sk-color-warning-container);
  --sk-infobox-color: var(--sk-color-on-warning-container);
  --sk-infobox-stroke: var(--sk-color-warning);
}
