.alert {
  display: block;
  color: var(--clr--alert--text);
  border-radius: var(--alert--border--radius);
  border-width: var(--alert--border);
  border-style: solid;
  margin: var(--spacing-10) 0;
  padding: var(--spacing-08);
}

.alert--notice {
  background: var(--clr--primary--sublte);
  border-color: var(--clr--primary);
}

.alert--success {
  background: var(--clr--success--sublte);
  border-color: var(--clr--success);
}

.alert--error {
  background: var(--clr--error--sublte);
  border-color: var(--clr--error);
}
